body{
margin:o;
font-family:Arial, Helvetica, sans-serif;
}
.topnav{
    overflow:hidden;
    background-color:blanchedalmond ;
}
.topnav a{
    float:left;;
    color:blueviolet;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
    .topnav a:hover{
        background-color: azure;
        color: brown;
    }

